In [5]:
import pandas as pd

In [18]:
fplreview = pd.read_csv("confidential_data/fplreview_1704556496.csv")

point_columns = [ col for col in fplreview.columns if "_Pts" in col]

point_columns

fplreview["Total Points"] = fplreview[point_columns].sum(axis=1)

fplreview.sort_values("Total Points",ascending=False)

,Pos,ID,Name,BV,SV,Team,21_xMins,21_Pts,22_xMins,22_Pts,...,29_xMins,29_Pts,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts,Elite%,Total Points
354,F,355,Haaland,13.9,13.9,Man City,55,4.17,86,7.56,...,79,5.29,78,4.71,80,6.05,80,5.17,0.03,73.52
18,M,19,Saka,9.0,9.0,Arsenal,89,5.79,85,5.16,...,78,5.17,79,3.24,78,6.50,77,4.35,0.92,61.64
84,F,85,Solanke,7.1,6.9,Bournemouth,90,4.35,87,4.37,...,81,4.23,81,4.83,80,4.70,82,5.12,0.80,61.13
59,F,60,Watkins,8.9,8.6,Aston Villa,90,4.72,87,5.16,...,84,4.69,83,5.19,84,3.22,84,5.63,0.99,60.95
13,M,14,Ødegaard,8.4,8.4,Arsenal,87,5.22,85,4.88,...,81,4.94,81,3.17,78,5.89,79,4.17,0.04,58.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,D,305,Matip,4.9,4.9,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
298,M,299,Henderson,5.0,5.0,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
295,M,296,Fabinho,5.0,5.0,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
288,G,289,Adrián,3.9,3.9,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
0,F,1,Balogun,4.4,4.4,Arsenal,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00