In [2]:
import pandas

In [77]:
import pandas as pd
from bs4 import BeautifulSoup

with open('data/nt_full_060124.html', 'r', encoding='utf-8') as f:

    html_content = f.read()

    # Parse the HTML content using BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    
    # Extract rows
    table_content = soup.select_one('tbody.table-content')
    # Extracting data for each player
data = []
for row in table_content.select('tr.hasCaptainsCol'):

    name = row.select_one('td.name-cell span').text
    position = row.select_one('td.position-cell ft-tooltip')['text']
    team = row.select_one('td.team-cell ft-tooltip')['text']
    price = row.select_one('td.price-cell').text
    ownership_pct = row.select_one('td.selectedBy-cell span.value').text
    captain_pct = row.select_one('td.captainedBy-cell span.value').text
    points = row.select_one('td.points-cell ft-bubble span').text
    
    data.append([name, position, team, price, ownership_pct, captain_pct, points])

    
# Convert data to a pandas DataFrame
norsk_tipping = pd.DataFrame(data)

print(norsk_tipping)

                    0         1                  2      3       4       5  \
0           C. Palmer  Midtbane            Chelsea   5.5M  38.55%   0.35%
1            M. Salah  Midtbane          Liverpool  12.5M  62.38%  26.11%
2            M. Olise  Midtbane     Crystal Palace   6.0M   0.72%   0.03%
3           M. Kilman   Forsvar             Wolves   4.3M   0.87%       -
4           C. Dawson   Forsvar             Wolves   4.2M   1.01%       -
..                ...       ...                ...    ...     ...     ...
530      L. Vigouroux    Keeper            Burnley   4.0M   0.03%       -
531       R. Matthews    Keeper     Crystal Palace   4.0M   0.02%       -
532  B. Baker-Boaitey  Midtbane           Brighton   4.5M       -       -
533           S. Peck  Midtbane   Sheffield United   4.5M       -       -
534       W. Kambwala   Forsvar  Manchester United   4.5M       -       -

         6
0    15.70
1    15.10
2    13.70
3    12.30
4    12.30
..     ...
530      -
531      -
532      -
533      -
534      -

[535 rows x 7 columns]

In [78]:
norsk_tipping.columns = ["Name", "Position", "Team", "Price", "Ownership", "Captain%", "PointsRound"]

In [79]:
norsk_tipping["Price"] = norsk_tipping["Price"].str.extract("^[+-]?([0-9]+([.][0-9]*)?|[.][0-9]+)M")[0]
norsk_tipping["Price"] = pd.to_numeric(norsk_tipping["Price"])

In [80]:
norsk_tipping.sort_values("Price", inplace=True)

In [81]:
norsk_tipping[["Initial", "Surname"]] = norsk_tipping["Name"].str.rsplit(". ", n=1, expand=True)

In [82]:
norsk_tipping

,Name,Position,Team,Price,Ownership,Captain%,PointsRound,Initial,Surname
267,H. Delcroix,Forsvar,Burnley,4.0,-,-,0.70,H,Delcroix
477,J. Shea,Keeper,Luton,4.0,2.92%,-,-,J,Shea
463,H. Ekdal,Forsvar,Burnley,4.0,0.47%,-,-,H,Ekdal
461,J. Amissah,Keeper,Sheffield United,4.0,0.17%,-,-,J,Amissah
459,A. A. Davies,Keeper,Sheffield United,4.0,0.21%,-,-,A. A,Davies
...,...,...,...,...,...,...,...,...,...
11,H. Son,Midtbane,Spurs,9.3,51.01%,8.22%,8.70,H,Son
301,K. De Bruyne,Midtbane,Manchester City,10.0,2.45%,0.47%,-,K,De Bruyne
16,B. Saka,Midtbane,Arsenal,10.2,39.27%,2.06%,7.70,B,Saka
1,M. Salah,Midtbane,Liverpool,12.5,62.38%,26.11%,15.10,M,Salah
400,E. Haaland,Angrep,Manchester City,12.9,45.97%,25.41%,-,E,Haaland

## Get values from FPL Review

In [112]:
fplreview = pd.read_csv("confidential_data/fplreview_1704556496.csv")

point_columns = [ col for col in fplreview.columns if "_Pts" in col]

point_columns

fplreview["Total Points"] = fplreview[point_columns].sum(axis=1)

fplreview.sort_values("Total Points",ascending=False, inplace=True)
fplreview

,Pos,ID,Name,BV,SV,Team,21_xMins,21_Pts,22_xMins,22_Pts,...,29_xMins,29_Pts,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts,Elite%,Total Points
354,F,355,Haaland,13.9,13.9,Man City,55,4.17,86,7.56,...,79,5.29,78,4.71,80,6.05,80,5.17,0.03,73.52
18,M,19,Saka,9.0,9.0,Arsenal,89,5.79,85,5.16,...,78,5.17,79,3.24,78,6.50,77,4.35,0.92,61.64
84,F,85,Solanke,7.1,6.9,Bournemouth,90,4.35,87,4.37,...,81,4.23,81,4.83,80,4.70,82,5.12,0.80,61.13
59,F,60,Watkins,8.9,8.6,Aston Villa,90,4.72,87,5.16,...,84,4.69,83,5.19,84,3.22,84,5.63,0.99,60.95
13,M,14,Ødegaard,8.4,8.4,Arsenal,87,5.22,85,4.88,...,81,4.94,81,3.17,78,5.89,79,4.17,0.04,58.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,D,305,Matip,4.9,4.9,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
298,M,299,Henderson,5.0,5.0,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
295,M,296,Fabinho,5.0,5.0,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
288,G,289,Adrián,3.9,3.9,Liverpool,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00
0,F,1,Balogun,4.4,4.4,Arsenal,0,0.00,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.00

In [85]:
norsk_tipping["Surname"].isin(fplreview["Name"].to_list()).value_counts()

Surname
True     406
False    129
Name: count, dtype: int64

In [90]:
df.columns

Index(['Name_nt', 'Position', 'Team', 'Price', 'Ownership', 'Captain%',
       'PointsRound', 'Initial', 'Surname', 'Pos', 'ID', 'Name_review', 'BV',
       'SV', '21_xMins', '21_Pts', '22_xMins', '22_Pts', '23_xMins', '23_Pts',
       '24_xMins', '24_Pts', '25_xMins', '25_Pts', '26_xMins', '26_Pts',
       '27_xMins', '27_Pts', '28_xMins', '28_Pts', '29_xMins', '29_Pts',
       '30_xMins', '30_Pts', '31_xMins', '31_Pts', '32_xMins', '32_Pts',
       'Elite%', 'Total Points'],
      dtype='object')

In [91]:
df[["Surname", "Name_review"]]

       Surname Name_review
0     Delcroix    Delcroix
1         Shea        Shea
2        Ekdal       Ekdal
3      Amissah         NaN
4       Davies         NaN
..         ...         ...
530        Son         Son
531  De Bruyne         NaN
532       Saka        Saka
533      Salah       Salah
534    Haaland         NaN

[535 rows x 2 columns]

In [137]:
fplreview["Name"] = fplreview["Name"].str.rsplit(".", n=1, expand=True).fillna("").apply(lambda x : max(x,key=len),axis=1)

In [138]:
mapper = {"Man City": "Manchester City",
          "Man Utd": "Manchester United",
          "Nott'm Forest": "Nottingham Forest",
          "Sheffield Utd": "Sheffield United",
         }

In [139]:
fplreview["Team"] = fplreview.Team.replace(mapper)

In [140]:
df = norsk_tipping.merge(fplreview,left_on=["Team", "Surname"], right_on=["Team", "Name"], how="left",suffixes=("_nt", "_review"))

In [141]:
df

,Name_nt,Position,Team,Price,Ownership,Captain%,PointsRound,Initial,Surname,Pos,...,29_xMins,29_Pts,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts,Elite%,Total Points
0,H. Delcroix,Forsvar,Burnley,4.0,-,-,0.70,H,Delcroix,D,...,25.0,0.91,26.0,0.54,26.0,0.90,28.0,0.72,0.00,7.66
1,J. Shea,Keeper,Luton,4.0,2.92%,-,-,J,Shea,G,...,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00
2,H. Ekdal,Forsvar,Burnley,4.0,0.47%,-,-,H,Ekdal,D,...,25.0,0.80,28.0,0.48,28.0,0.87,28.0,0.62,0.00,6.34
3,J. Amissah,Keeper,Sheffield United,4.0,0.17%,-,-,J,Amissah,G,...,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00
4,A. A. Davies,Keeper,Sheffield United,4.0,0.21%,-,-,A. A,Davies,M,...,20.0,0.75,20.0,0.79,20.0,0.71,20.0,0.77,0.00,8.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,H. Son,Midtbane,Spurs,9.3,51.01%,8.22%,8.70,H,Son,M,...,84.0,5.17,85.0,7.53,86.0,5.38,85.0,6.85,0.81,47.64
535,K. De Bruyne,Midtbane,Manchester City,10.0,2.45%,0.47%,-,K,De Bruyne,M,...,56.0,3.45,56.0,3.20,56.0,3.84,55.0,3.40,0.00,50.13
536,B. Saka,Midtbane,Arsenal,10.2,39.27%,2.06%,7.70,B,Saka,M,...,78.0,5.17,79.0,3.24,78.0,6.50,77.0,4.35,0.92,61.64
537,M. Salah,Midtbane,Liverpool,12.5,62.38%,26.11%,15.10,M,Salah,M,...,80.0,5.31,79.0,6.16,79.0,8.05,79.0,5.25,0.92,54.39
538,E. Haaland,Angrep,Manchester City,12.9,45.97%,25.41%,-,E,Haaland,F,...,79.0,5.29,78.0,4.71,80.0,6.05,80.0,5.17,0.03,73.52

In [146]:
df[df.Pos.isna()].tail(50)

,Name_nt,Position,Team,Price,Ownership,Captain%,PointsRound,Initial,Surname,Pos,...,29_xMins,29_Pts,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts,Elite%,Total Points
338,D. Alli,Midtbane,Everton,5.0,0.05%,-,-,D,Alli,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,V. Lindelöf,Forsvar,Manchester United,5.1,0.19%,-,-,V,Lindelöf,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,M. Tresor,Midtbane,Burnley,5.2,-,-,0.70,M,Tresor,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Danilo,Midtbane,Nottingham Forest,5.2,0.26%,-,2.30,Danilo,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Beto,Angrep,Everton,5.2,-,-,1.00,Beto,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,B. Traore,Angrep,Sheffield United,5.2,0.82%,-,-,B,Traore,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,P. Porro,Forsvar,Spurs,5.2,38.79%,0.09%,2.30,P,Porro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,B. De-Cordova Reid,Midtbane,Fulham,5.3,0.40%,-,7.30,B,De-Cordova Reid,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,M. Kovacic,Midtbane,Manchester City,5.3,0.47%,-,2.30,M,Kovacic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,F. Silva,Angrep,Wolves,5.3,0.63%,-,-,F,Silva,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,I. Konate,Forsvar,Liverpool,5.4,0.87%,0.03%,1.30,I,Konate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
378,M. França,Midtbane,Crystal Palace,5.4,0.02%,-,1.00,M,França,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
379,I. Perisic,Forsvar,Spurs,5.4,0.40%,-,-,I,Perisic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,S. Kalajdzic,Angrep,Wolves,5.4,0.12%,-,-,S,Kalajdzic,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,R. Bentacur,Midtbane,Spurs,5.4,-,-,1.30,R,Bentacur,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,A. Traore,Midtbane,Fulham,5.5,0.03%,-,-,A,Traore,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,A. Doucouré,Midtbane,Everton,5.5,2.94%,-,-,A,Doucouré,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,E. Fernandez,Midtbane,Chelsea,5.5,1.42%,-,0.70,E,Fernandez,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,D. Washington,Angrep,Chelsea,5.5,-,-,-,D,Washington,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407,J. Pedro,Angrep,Brighton,5.5,9.36%,0.09%,3.40,J,Pedro,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
408,L. Paqueta,Midtbane,West Ham,5.6,1.73%,-,-,L,Paqueta,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
411,R. Dias,Forsvar,Manchester City,5.6,3.34%,0.02%,1.00,R,Dias,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,T. Soucek,Midtbane,West Ham,5.7,1.01%,-,4.00,T,Soucek,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
426,P. Höjbjerg,Midtbane,Spurs,5.7,0.33%,-,1.30,P,Höjbjerg,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,H. Hee-chan,Angrep,Wolves,5.8,6.79%,0.03%,7.10,H,Hee-chan,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,Gabriel,Forsvar,Arsenal,5.8,9.80%,-,0.70,Gabriel,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435,R. Jiménez,Angrep,Fulham,5.8,1.52%,0.02%,6.70,R,Jiménez,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436,B. Hedilazio,Midtbane,Burnley,5.8,0.07%,-,-,B,Hedilazio,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,F. Schar,Forsvar,Newcastle,5.8,4.08%,-,-0.30,F,Schar,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
444,Ederson,Keeper,Manchester City,5.9,6.84%,0.03%,7.30,Ederson,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,F. Vieira,Midtbane,Arsenal,5.9,0.09%,-,-,F,Vieira,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,C. Vinicius,Angrep,Fulham,5.9,0.17%,-,-,C,Vinicius,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
452,V. van Dijk,Forsvar,Liverpool,6.0,5.16%,0.21%,1.30,V,van Dijk,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453,A. Pereira,Midtbane,Fulham,6.0,1.26%,-,1.00,A,Pereira,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
455,Casemiro,Midtbane,Manchester United,6.0,1.00%,-,-,Casemiro,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
456,B. Alisson,Keeper,Liverpool,6.0,3.66%,0.02%,1.80,B,Alisson,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
461,E. Buendía,Midtbane,Aston Villa,6.0,0.23%,-,-,E,Buendía,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
463,Willian,Midtbane,Fulham,6.1,0.38%,-,2.30,Willian,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,D. Luiz,Midtbane,Aston Villa,6.2,5.35%,0.05%,8.70,D,Luiz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,Rodri,Midtbane,Manchester City,6.2,3.55%,0.03%,9.30,Rodri,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,B. Guimaraes,Midtbane,Newcastle,6.4,0.58%,-,1.70,B,Guimaraes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,A. Fati,Midtbane,Brighton,6.4,0.02%,-,-,A,Fati,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
483,Joelinton,Midtbane,Newcastle,6.4,0.65%,-,0.70,Joelinton,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,Antony,Midtbane,Manchester United,6.6,0.31%,0.02%,1.00,Antony,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,P. Groß,Midtbane,Brighton,7.0,2.22%,0.02%,4.40,P,Groß,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,B. Silva,Midtbane,Manchester City,7.1,2.94%,0.30%,4.70,B,Silva,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,Richarlison,Angrep,Spurs,7.4,7.10%,0.33%,6.70,Richarlison,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,L. Diaz,Midtbane,Liverpool,7.4,3.52%,0.07%,1.40,L,Diaz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
513,D. Jota,Midtbane,Liverpool,7.4,2.64%,0.03%,7.30,D,Jota,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520,D. Nunez,Angrep,Liverpool,8.0,16.48%,0.72%,7.00,D,Nunez,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
fplreview[fplreview.Team.isin(["Manchester City", "Liverpool"])].head(50)

,Pos,ID,Name,BV,SV,Team,21_xMins,21_Pts,22_xMins,22_Pts,...,29_xMins,29_Pts,30_xMins,30_Pts,31_xMins,31_Pts,32_xMins,32_Pts,Elite%,Total Points
354,F,355,Haaland,13.9,13.9,Manchester City,55,4.17,86,7.56,...,79,5.29,78,4.71,80,6.05,80,5.17,0.03,73.52
307,M,308,Salah,13.2,13.0,Liverpool,0,0.00,5,0.39,...,80,5.31,79,6.16,79,8.05,79,5.25,0.92,54.39
289,D,290,Alexander-Arnold,8.5,8.5,Liverpool,92,4.43,88,4.70,...,80,3.81,79,4.16,78,5.84,79,3.57,0.80,51.19
348,M,349,De Bruyne,10.2,10.2,Manchester City,65,4.37,63,4.97,...,56,3.45,56,3.20,56,3.84,55,3.40,0.00,50.13
351,G,352,Ederson M,5.5,5.5,Manchester City,93,3.75,92,4.39,...,89,3.48,89,3.59,89,3.75,89,3.93,0.07,48.85
352,M,353,Foden,7.8,7.8,Manchester City,72,4.22,66,4.59,...,65,3.51,63,3.20,63,3.79,63,3.53,0.25,48.27
342,F,343,Alvarez,7.0,7.0,Manchester City,72,4.55,62,4.48,...,58,3.32,59,3.10,60,3.80,61,3.41,0.72,47.86
292,F,293,Darwin,7.4,7.4,Liverpool,73,4.83,70,4.59,...,57,3.42,60,4.08,59,5.03,59,3.55,0.18,47.50
290,G,291,Becker,5.7,5.7,Liverpool,94,3.73,92,3.86,...,90,3.64,90,3.70,90,4.41,90,3.52,0.00,44.61
302,M,303,Luis Díaz,7.3,7.3,Liverpool,72,4.11,70,4.03,...,57,3.13,60,3.66,58,4.50,58,3.18,0.00,42.94
343,M,344,Bernardo,6.5,6.5,Manchester City,78,3.73,71,3.91,...,68,2.97,67,2.74,67,3.26,63,2.81,0.01,41.24
312,D,313,Virgil,6.3,6.3,Liverpool,91,3.33,88,3.68,...,83,3.15,81,3.31,83,4.75,81,2.86,0.01,40.75
368,D,369,Walker,5.4,5.4,Manchester City,83,3.44,72,3.99,...,66,2.59,68,2.70,66,3.03,70,3.33,0.21,39.97
308,M,309,Szoboszlai,7.1,7.1,Liverpool,69,3.84,70,3.87,...,59,2.94,59,3.28,58,3.97,61,2.99,0.00,39.67
349,D,350,Rúben,5.5,5.5,Manchester City,82,3.36,73,3.99,...,69,2.63,69,2.69,67,3.02,68,3.17,0.06,39.53
364,M,365,Rodrigo,5.6,5.6,Manchester City,91,3.12,87,3.52,...,82,2.67,81,2.56,77,2.79,77,2.67,0.00,37.43
293,M,294,Diogo J,7.7,7.7,Liverpool,54,3.53,53,3.48,...,45,2.82,44,3.06,45,3.96,44,2.75,0.00,37.20
306,D,307,Robertson,6.4,6.4,Liverpool,0,0.00,21,1.01,...,77,3.43,78,3.77,78,5.32,78,3.23,0.00,36.27
301,D,302,Konaté,4.9,4.9,Liverpool,90,3.00,84,3.27,...,76,2.72,76,2.85,76,4.03,76,2.49,0.00,35.74
676,M,678,Doku,6.5,6.5,Manchester City,22,1.37,50,3.39,...,50,2.71,48,2.46,48,2.86,49,2.75,0.00,35.28
303,M,304,Mac Allister,5.8,5.8,Liverpool,58,2.81,74,3.48,...,63,2.63,64,2.91,62,3.48,62,2.60,0.00,34.26
341,D,342,Aké,5.0,5.0,Manchester City,62,2.74,56,3.28,...,54,2.25,52,2.19,53,2.53,52,2.60,0.00,33.05
614,D,616,Gvardiol,4.8,4.8,Manchester City,64,2.70,59,3.32,...,55,2.20,54,2.18,56,2.58,54,2.60,0.03,32.89
353,M,354,Grealish,7.2,7.2,Manchester City,55,3.16,39,2.76,...,41,2.23,44,2.23,43,2.60,42,2.30,0.00,32.05
296,F,297,Gakpo,7.2,7.2,Liverpool,53,3.37,49,3.05,...,41,2.36,40,2.65,39,3.17,42,2.43,0.00,31.92
367,D,368,Stones,5.3,5.3,Manchester City,0,0.00,46,2.61,...,57,2.37,56,2.37,57,2.70,58,2.88,0.00,31.71
340,D,341,Akanji,4.9,4.9,Manchester City,67,2.65,54,2.88,...,53,1.96,55,2.12,56,2.44,54,2.45,0.00,30.39
299,M,300,Jones,4.9,4.9,Liverpool,57,2.37,47,2.04,...,36,1.53,34,1.56,36,1.94,35,1.51,0.00,20.47
297,D,298,Gomez,4.5,4.5,Liverpool,88,2.94,71,2.73,...,36,1.34,34,1.36,35,1.85,34,1.19,0.00,19.85
355,M,356,Kovačić,4.7,4.7,Manchester City,42,1.81,32,1.57,...,32,1.33,33,1.30,34,1.51,36,1.49,0.00,19.02
706,M,708,Gravenberch,5.0,5.0,Liverpool,59,2.53,45,2.04,...,27,1.26,30,1.46,29,1.65,26,1.23,0.00,18.36
666,M,668,Endo,5.4,5.4,Liverpool,0,0.00,1,0.06,...,46,1.62,44,1.67,46,2.07,45,1.58,0.00,14.71
309,M,310,Thiago,4.8,4.8,Liverpool,25,0.99,41,1.67,...,28,1.12,28,1.19,29,1.43,29,1.16,0.00,14.45
357,D,358,Lewis,4.3,4.3,Manchester City,22,1.01,20,1.11,...,24,1.05,26,1.12,26,1.28,25,1.28,0.00,14.29
565,M,566,Matheus N,4.8,4.8,Manchester City,19,0.98,13,0.69,...,18,0.87,19,0.88,19,0.96,19,0.92,0.00,10.84
294,M,295,Elliott,4.8,4.8,Liverpool,30,1.67,26,1.49,...,12,0.66,12,0.69,12,0.87,12,0.68,0.00,10.31
624,D,626,Quansah,4.0,4.0,Liverpool,11,0.40,18,0.76,...,17,0.63,18,0.73,18,0.91,18,0.65,0.00,7.95
310,D,311,Tsimikas,4.7,4.7,Liverpool,0,0.00,0,0.00,...,14,0.63,15,0.73,14,0.86,13,0.58,0.04,5.90
780,M,10138,Fábio Carvalho,99.9,99.9,Liverpool,11,0.73,9,0.63,...,5,0.39,6,0.47,6,0.53,6,0.45,0.00,5.69
344,M,345,Bobb,4.4,4.4,Manchester City,4,0.26,2,0.12,...,5,0.29,5,0.28,4,0.28,4,0.27,0.00,3.07
360,G,361,Ortega Moreno,3.8,3.8,Manchester City,2,0.07,3,0.17,...,6,0.25,5,0.22,6,0.24,5,0.24,0.00,2.54
363,M,364,Phillips,4.7,4.7,Manchester City,3,0.11,2,0.10,...,5,0.20,6,0.21,6,0.25,6,0.24,0.00,2.27
291,M,292,Bajcetic,4.7,4.7,Liverpool,0,0.00,2,0.06,...,7,0.26,6,0.27,7,0.31,6,0.26,0.00,2.23
300,G,301,Kelleher,3.7,3.7,Liverpool,0,0.00,3,0.10,...,5,0.19,5,0.18,5,0.23,5,0.18,0.00,1.81
755,D,757,Bradley,4.0,4.0,Liverpool,5,0.17,5,0.21,...,2,0.06,2,0.08,2,0.09,2,0.09,0.00,1.23
365,D,366,Sergio Gómez,3.9,3.9,Manchester City,0,0.00,0,0.00,...,3,0.11,4,0.16,2,0.12,3,0.14,0.00,1.13
726,D,728,Scanlon,3.9,3.9,Liverpool,4,0.12,4,0.13,...,0,0.00,0,0.00,0,0.00,1,0.03,0.00,0.46
724,D,726,Chambers,4.0,4.0,Liverpool,3,0.09,5,0.16,...,0,0.00,0,0.00,0,0.00,1,0.03,0.00,0.46
783,D,10142,Rhys Williams,99.9,99.9,Liverpool,0,0.00,2,0.06,...,1,0.03,1,0.04,1,0.04,1,0.03,0.00,0.28
625,M,627,Clark,4.4,4.4,Liverpool,2,0.09,0,0.00,...,0,0.00,0,0.00,0,0.00,0,0.00,0.00,0.09